{% load i18n bootstrap3 %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE %}{{LANGUAGE}}">
  <head>
    <title>Demo Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% bootstrap_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        margin:2em;
      }
      .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}

      .jumbotron {
        box-shadow: 0 0 15px 0px #999;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="jumbotron center">
              <h1>{% trans 'Demo Login' %}</h1>
              <br />
              <p>{% trans 'To access this site provide password' %}</p>
              <form method="post" class="form">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% buttons %}
                      <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "ok" %} {% trans 'Login' %}
                      </button>
                  {% endbuttons %}
              </form>
        </div>
      </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <!-- {% bootstrap_javascript %} -->
  </body>
</html>